
.item {
    height: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 10px;
    color: white;
    transition: .25s;
    background-color: rgb(44, 50, 60);
    border-radius: 20px;
}

.item .id {
    visibility: hidden;
}

.item:hover {
    width: 250px;
    height: 400px;
}

.item button {
    visibility: hidden;
    transition: .1s;
}

.item:hover button {
    visibility: visible;
}

img {
    width: 100px;
    height: 100px;
}