
.item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 10px;
    color: white;
}

img {
    width: 100px;
    height: 100px;
}