
.item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: rgb(57, 62, 70);
    text-align: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}

