
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 75px;
    background-color: rgb(34, 40, 49);
    font-size: 15px;
}

.title {
    color: rgb(255, 211, 105);
    margin-left: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    margin: 0px 10px;
    padding: 10px;
    background-color: transparent;
    border-radius: 25px;
    border-color: transparent;
    transition: .2s;
}

li:hover {
    background-color: rgb(57, 62, 70);
}

a {
    color: rgb(255, 211, 105);
    text-decoration: none;
}

button {
    padding: 15px;
    margin-right: 10px;
    color: rgb(255, 211, 105);
    font-size: 16px;
    background-color: transparent;
    border-radius: 20px;
    border-color: transparent;
    transition: .2s;
}

button:hover {
    background-color: rgb(57, 62, 70);
}

.cart-icon {
    font-size: 20px;
    color: rgb(255, 211, 105);
    padding: 15px;
    transition: .2s;
}

.cart-icon:hover {
    color: white;
}